.App {
  text-align: center;
}
.linkDiv {
  background-color: rgba(170, 170, 170, 0.75);
  color: #3816bf;
}
.linkDiv:hover {
  background-color: rgba(170, 170, 170, 1.0);
}
.link:hover {
  color: #428aff;
}

.buttonLink {
  width: 100%;
  text-decoration: none;
  background-color: rgba(56,22,191, 0.75);
  color:rgba(244, 215, 66, 1.0);
}

.buttonLink:hover {
  background-color: rgba(56,22,191, 1.0)
}

.imgBtn {
  color:#DDD;
  background-color: rgba(56,22,191, 0.75);
  border: solid #AAA 1px;
}

.imgBtn:hover {
  background-color: rgba(56,22,191, 1.0);
}
